# Dependencies
node_modules
/dist
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
!.env.example

# temp directory
.temp
.tmp

# IDE
.vscode
.idea
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build outputs
dist
build

# Extra sandboxing files
/sandbox
/old
